.collaborators {
  width: 100%;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  
}

.collaborators h2 {
  font-size: var(--heading-two);
  margin: 0;
}

/* Infinite marquee container and animation */
.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.marquee-content {
  display: flex;
  gap: 30px;
  padding: 20px;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-item {
  flex: 0 0 auto; /* Prevent shrinking */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px; /* Fixed width ensures visibility */
  height: 80px;
}

.marquee-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* Mobile responsive adjustments */
@media (max-width: 900px) {
  .collaborators {
    padding: 30px 15px;
    gap: 20px;
  }

 

  .marquee-content {
    gap: 20px;
    padding: 15px;
    animation: scroll 20s linear infinite;
  }

  .marquee-item {
    height: 80px;
    min-width: 120px;
  }

  .marquee-item img {
    max-height: 60px;
  }
}
