.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}
.hero img {
  width: 80%;
  height: auto;
  margin: 40px auto;
}
@media(max-width:900px){
  .hero img {
  width: 90%;
  height: auto;
  margin: 40px auto;
}
}
